@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;700&family=Work+Sans:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.section-container {
		@apply mx-auto max-w-screen-3xl;
	}
	.header-structure {
		@apply h-16 md:h-24 flex justify-between items-center;
	}

	.margin-responsive {
		@apply px-4 md:px-6;
	}

	/* Buttons base */

	.button-base {
		@apply font-medium text-base h-12 rounded-xl px-6;
	}

	.button-sm {
		@apply font-medium text-sm h-10 rounded-xl px-4;
	}

	/* Buttons default */

	.button-default-primary-base {
		@apply button-base bg-primary-700 text-basic-white hover:bg-primary-800;
	}

	.button-default-white-base {
		@apply button-base bg-basic-white text-dark-950;
	}

	.button-default-dark-base {
		@apply button-base bg-dark-900 text-basic-white;
	}

	.button-ghost-primary-base {
		@apply button-base border-primary-200 border-2 text-primary-600;
	}

	.button-ghost-dark-base {
		@apply button-base border-dark-300 border-2 text-dark-700;
	}

	.button-link-primary-base {
		@apply button-base text-primary-600;
	}

	.button-link-dark-base {
		@apply button-base text-dark-700;
	}

	/* Buttons sm */

	.button-default-primary-sm {
		@apply button-sm bg-primary-500 text-basic-white;
	}
	.button-default-white-sm {
		@apply button-sm bg-basic-white text-dark-950;
	}

	.button-default-dark-sm {
		@apply button-sm bg-dark-900 text-basic-white;
	}

	.button-ghost-primary-sm {
		@apply button-sm border-primary-200 border-2 text-primary-600;
	}

	.button-ghost-dark-sm {
		@apply button-sm border-dark-300 border-2 text-dark-700;
	}

	.button-link-primary-sm {
		@apply button-sm text-primary-600;
	}

	.button-link-dark-sm {
		@apply button-sm text-dark-700;
	}

	html {
		@apply bg-dark-950;
	}
}

:root {
	--primary-100: 255, 235, 235;
	--primary-200: 254, 205, 206;
	--primary-300: 252, 156, 158;
	--primary-400: 249, 98, 101;
	--primary-500: 245, 71, 75;
	--primary-600: 242, 58, 63;
	--primary-700: 227, 43, 48;
	--primary-800: 183, 36, 40;
	--primary-900: 126, 32, 35;
	--primary-950: 85, 27, 29;

	--dark-100: 252, 252, 253;
	--dark-200: 245, 245, 245;
	--dark-300: 231, 232, 233;
	--dark-400: 199, 200, 204;
	--dark-500: 167, 168, 175;
	--dark-600: 129, 131, 141;
	--dark-700: 97, 98, 107;
	--dark-800: 68, 69, 75;
	--dark-900: 39, 39, 43;
	--dark-950: 22, 22, 24;

	--white: 255, 255, 255;
	--black: 0, 0, 0;
}
